In [8]:
import pandas as pd
import utils

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Apartamento,Cursino,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Casa de Vila,Socorro,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Casa de Vila,Casa Verde,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Loft,Santa Cecilia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Terreno Padrão,Pinheiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Casa,Vila Mariana,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Casa de Vila,Jaragua,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Quitinete,Sao Miguel,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Apartamento,Parelheiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Casa de Condomínio,Belem,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Galpão/Depósito/Armazém,Vila Maria,NaN,NaN,NaN,NaN,NaN,NaN,NaN