In [1]:
import pandas as pd 
from utils.utils import DataFrame_Aluguel_Utils

In [2]:

df = DataFrame_Aluguel_Utils()

df.cria_tabela_inteira()
display(df.df)

          Tipo Bairro Quartos Vagas Suites Area Valor Condominio IPTU
0  Apartamento    NaN       1     2      0  NaN   NaN        NaN  NaN
1         Loft    NaN       1     1      0  NaN   NaN        NaN  NaN
2    Quitinete    NaN       1     1      0  NaN   NaN        NaN  NaN
3         Loft    NaN       1     1      0  NaN   NaN        NaN  NaN